.ticks {
  font: .75em sans-serif;
  fill: #ccc;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.slider {
  z-index: 2;
}


.question{
  font: 1em sans-serif;
  fill: #fff;

}


.layer{
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  z-index: 3;
}