#landingpage {
	z-index: 10;
	height:100%;
	position: absolute;
/*	background-color: #FFCCCC;*/
	background-color: #B2D8FF;
	overflow: hidden;
	scroll-behavior: none;
}

h1 {

font-size: 4.6em;
color: #333;
margin-bottom: 0em;
margin-left: .4em;
margin-right: .4em;
line-height: 1em;
}

h2{

font-size: 1.6em;
color: #667F99;
margin-left: 1.3em;
}

p {

font-size: 1.05em;
line-height: 1.3em;
margin-top: 0em;
color: #333;

}




.instructions {

margin-top: 3.2em;
}

h3{
	font-size: 1.2em;
	margin-top: 0.24em;
	color: #333;
}

h3:hover{
	transition-duration: .1s;
	font-size: 1.4em;
	margin-left: -.13em;
	margin-top: .15em;
	cursor: pointer; 
}





